.jumbotron {
    background-image: url("https://a259aa1c-df52-4d87-877d-b4a7af18f073.ws-eu03.gitpod.io/files/download/?id=a6dc518c-fd53-4d5f-8ef6-772a23483d14");
}
.services 
{
    margin: 90px auto;
    text-align: center;
    margin-bottom: 60px;
}
h2 
{
    font-family: sans-serif;
    letter-spacing: 1px;
    border-bottom-width: 5px;
    text-decoration: underline;
}
h2 ::after {
    content: '';
    background: white;
    display: block;
    width: 150px;
    margin: 10px auto;
    height: 3px;
}
* {box-sizing: border-box}
input[type=text], input[type=password] {
width: 100%;
font-size: 15px;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: white;
}
label{
font-size: 15px;
text-align: center;
}
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

input[type=signup] {
	background: lightgreen;
	margin: 0 auto;
	outline: 0;
	color: black;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}


input[type=signup]:focus {
	background: white;
	color: black;
}

input[type=signup]:hover {
	background: white;
}
.signup {
font-size: 15px;
font-weight: bold;
background-color: green;
color: white;
padding: 12px 24px;
margin: 8px 0;
border-radius: 4px;
cursor: pointer;
width: 8%;
opacity: 0.8;
outline: 0;
}
.formContainer {
padding: 16px;
}
.formContainer p{
font-size: 15px;
}
.sign-up {
    font-size: 25px;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}
.nav li a {
     color: black;
    text-decoration: none;
}
blockquote {
    border:none;
    font-family: sans-serif;
    margin-bottom:-30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
font-size:18px;
}

blockquote p:before { 
content: open-quote;
font-weight: bold;
font-size:70px;
color:lightblue;
} 
blockquote p:after { 
content: close-quote;
font-weight: bold;
font-size:70px;
color:lightblue;
  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
}
.fa-facebook {
  
  color: black;
  float: right;
  margin-top: -10px;
  margin-right: 0px;
  text-align: right;
}
.fa-twitter {
  
  color:black;
  float: right;
  margin-top: -10px;
  margin-right: 0px;
  text-align: right;
}
.fa-youtube {
  
  color: black;
  float: right;
  margin-top: -10px;
  margin-right: 0px;
  text-align: right;
}
